__pycache__
/sandbox
.idea
*~
.venv
venv
.vscode
.coverage
coverage.xml
htmlcov
/.tox
.*.swp
.ruff_cache

# Tokens and settings for `act` to run GHA locally
.env
.envrc
.secrets

# Build artifacts
/pebble-shimmer.egg-info
/dist
/build
/docs/_build
